<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>Yelp Camp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
  </div>
</div>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="campground">
<p>"<%= campground.description %></p>
<p>
  <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a>
</p>

<% campground.comments.forEach(function(comment) { %> 
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %> 

<%- include("../partials/footer") %>